
#subdiv{
    height: 100vh;
}

#subdiv1{
    border: 2px solid black;
    height: 200px;
}

#subdiv2{
    border: 2px solid black;
    height: 200px;
}

.subrow{
    height: 50%;
}

#btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}